@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown h1 {
  @apply text-4xl font-bold mt-6 mb-5;
}

.markdown h2 {
  @apply text-3xl font-bold mt-6 mb-5;
}

.markdown h3 {
  @apply text-2xl font-bold mt-5 mb-3;
}

.markdown h4 {
  @apply text-xl font-bold mt-5 mb-3;
}

.markdown h5 {
  @apply text-lg font-bold mt-3 mb-3;
}

.markdown h6 {
  @apply text-base font-bold mt-3 mb-3;
}

.markdown h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  @apply mt-0;
}

.markdown p {
  @apply mb-3;
}